.Header {
	background-color: violet;
  display: flex;
  flex-direction: row;
  font-size: 1.17em;
  font-weight: bold;

  a, h3, span {
    flex-grow: 1;
  }

  h3 {
    text-align: center;
  }

  a {
    margin: 1em 0;

    &.right {
      margin-right: 1em;
      text-align: right;
    }
  }

  .left {
    margin: 1em 0 1em 1em;
  }
}
